@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  
}
p, li{
  font-size: 22px;
}

.image{
  width: 100%;
  height: auto;
}
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #91c3e6;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #2f88dc;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #7791c5;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
  text-align: center;
}
section{
  padding-bottom: 15px;
}
h1{
  text-align: center;
  max-width: 600px;
  margin: 100px auto;
  position: relative;
}
/*line before title*/
 h1:before{
  content: "";
  display:block;
  width: 120px;
  height: 5px;
  background: #7791c5;
  position: absolute;
  left: 5%;
  top: 50%;
  z-index: -5;
}
h1:after{
  content: "";
  display:block;
  width: 120px;
  height: 5px;
  background: #7791c5;
  position: absolute;
  right: 5%;
  top: 50%;
  z-index: -5;
}
span{
  background: #ffffff;
}

/*circular box image*/
.box, .box-2, .box-3{
  height: 100vh;
  float: left;
  margin-left: 30px;
  margin-right: 40px;
  padding: 30px;
}
.box img{
  width: 400px;
  height: 400px;
  border-radius: 50%;
  padding: 10px;
  border: 5px solid #7791c5;
  margin-left: 250px;
}
.box-2 img{
  width: 400px;
  height: 400px;
  border-radius: 50%;
  padding: 10px;
  border: 5px solid #7791c5;
  
}
.box-3 img{
  width: 400px;
  height: 400px;
  border-radius: 50%;
  padding: 10px;
  border: 5px solid #7791c5;
}
/*text on images*/
.box-text{
  position: absolute;
  top: 35%;
  color: #ffffff;
  padding: 10px;
}
.box img, .box-2 img, .box-3 img{
  cursor: pointer;
}
.circles{
  margin-top: 20rem;
  
}
.title-head-circles h4{
  text-align: center;
  
}
/*sections*/
.child{
  border: 1px solid #7791c5;
  float: left;
  width: 50%;
  box-sizing: border-box;
}
.list li{
  list-style-type: none;
}

/*footer*/
.footer{
  background-color: #7791c5;
  padding: 70px 0;
}
.container{
  max-width: 1170px;
  
  
  margin: auto;
}
.footer-col ul li{
  list-style: none;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
.footer-col{
  width: 25%;
  padding: 0 15px;
}
.footer-col h4{
  font-size: 28px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 30px;
  position: relative;
}
.footer-col h4::before{
  content:'';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #2f88dc;
  height: 3px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child){
margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  display: black;
}

@media(min-width:760px){
  .section-content{
    display: flex;
  }
}
/*glow hover effect*/
/*.bg-clipPath{
  position: absolute;
  width: 100%;
  height: 100%;
  background: #c1e3f3;
  clip-path: circle(16% at 50% 50%);
  margin-left: -30rem;
  top: 77%;
  right: 23%;
  z-index: -1;
  transition: 1s ease-out;
}*/
/*.box img:hover,.bg-clipPath{
  clip-path: circle(10% at 50% 50%);
}*/
/*.circles{
  display: grid;
  grid-template-columns: repeat(3,calc(((100vw - 4rem)/3)));
  grid-gap: 1rem;
  grid-template-rows: auto;
  margin: 1rem 0;
  padding: 0 1rem;
}*/
.label, .label-1{
  font-size: 2rem;
  font-weight: 700;
  line-height: 3;
  padding: 0 1rem;
  margin: 0;
  margin-top: -15rem;
  height: 2rem;
  color: white;
  text-align: center;
  
  /*background-color: #7791c5;*/
}
.label-1{
  /*margin-left: 65px;*/
  padding-left: 300px;
}
.label h4, .label-1 h4{
  text-shadow: 6px 6px 6px rgb(29, 27, 27);

}

/*image shadow on hover*/
.box img:hover, .box-2 img:hover, .box-3 img:hover{
  box-shadow: 3px 3px 30px #2f88dc;
}
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}