body {
  margin: 0;
  font-family: "Lato", sans-serif;
  
}
.image{
  width: 100%;
  height: auto;
}
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #91c3e6;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #2f88dc;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #7791c5;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
  text-align: center;
}
section{
  padding-bottom: 15px;
}
h1{
  text-align: center;
}
/*circular box image*/
.box, .box-2, .box-3{
  height: 100vh;
  float: left;
  margin-left: 30px;
  margin-right: 40px;
  padding: 30px;
}
.box img{
  width: 400px;
  height: 400px;
  border-radius: 50%;
  padding: 10px;
  border: 5px solid #7791c5;
  margin-left: 250px;
}
.box-2 img{
  width: 400px;
  height: 400px;
  border-radius: 50%;
  padding: 10px;
  border: 5px solid #7791c5;
  
}
.box-3 img{
  width: 400px;
  height: 400px;
  border-radius: 50%;
  padding: 10px;
  border: 5px solid #7791c5;
}
/*text on images*/
.box-text{
  position: absolute;
  top: 35%;
  color: #ffffff;
  padding: 10px;
}
/*.circles{
  display: grid;
  grid-template-columns: repeat(3,calc(((100vw - 4rem)/3)));
  grid-gap: 1rem;
  grid-template-rows: auto;
  margin: 1rem 0;
  padding: 0 1rem;
}*/
.label, .label-1{
  font-size: 2rem;
  line-height: 3;
  padding: 0 1rem;
  margin: 0;
  margin-top: -15rem;
  height: 2rem;
  color: white;
  text-align: center;
  /*background-color: #7791c5;*/
}
.label-1{
  /*margin-left: 65px;*/
  padding-left: 300px;
}
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}